:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 50vw;
  box-sizing: border-box;
  transform: scale(0.8);
  transform-origin: top;
  background-color: rgb(236, 233, 233);
}

main {
  background-color: white;
  box-shadow: 0 0 5px 80px rgb(255, 255, 255);
}

#root {
  height: 100vh;
  max-width: 950px;
}